* {
    margin: 0;
    padding: 0;
}

a {
    font-family: arial, sans-serif;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    margin-top: 7px;
}
header a {
    font-size: 13px;
    color: #000000;

    opacity: 0.75;
}
header a:hover {
    text-decoration: underline;
}
.header-left {
    margin-left: 14px;
}
.header-left a {
    margin-left: 11px;
}
.header-right {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.header-right a {
    margin-right: 17px;
}
.icon-apps {
    width: 16px;
    margin-top: 3px;
    padding-right: 5px;
    
    opacity: 0.5;
}
.icon-apps:hover,
.icon-apps:focus{
    opacity: 1;
    outline: none;
}
.btn-signIn {
    padding: 6.5px 12px;
    margin-right: 15px;
    
    font-weight: bold;
    color: #ffffff;

    background-color: #4285f4;
    border: 1px solid #4285f4;
    border-radius: 2px;
}
.btn-signIn:focus {
    outline: none;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 146px;
}
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 580px;
    height: 44px;
    margin-top: 27px;
    margin-bottom: 25px;

    border: 1px solid #dfe1e5;
    border-radius: 10000px;
}
.search-bar:hover {
    box-shadow: 0 1px 6px 0 #33333330;
}
.search-bar input {
    width: 390px;
    height: 30px;

    font-size: 16px;

    border: none;
}
.search-bar input:focus {
    outline: none;
}
.icon-search {
    width: 20px;
    margin-left: 13px;

    opacity: 0.35;
}
.icon-voice {
    width: 14px;
    margin-top: 3px;
    margin-right: 21px;
}
.icon-voice:focus {
    outline: none;
}
.search-btns {
    display: flex;
    justify-content: space-between;
    width: 281px;
    margin-top: 4px;
}
.btn-search {
    padding: 9px 16px;
    
    font-size: 14px;
    color: #3c4043;

    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;

    cursor: pointer;
}
.btn-search:hover {
    border-color: #33333330;
    box-shadow: 0 1px 1px 0 #33333330;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;

    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}
footer a {
    font-size: 14px;
    color: #70757a;
}
footer a:hover {
    text-decoration: underline;
}
.footer-left {
    margin-left: 7px;
}
.footer-left a {
    margin-left: 23px;
}
.footer-right {
    margin-right: 7px;
}
.footer-right a {
    margin-right: 23px;
}